# Ignora todos os node_modules em qualquer subpasta
**/node_modules/

# Outras ignorâncias comuns em projetos React
**/.env
**/dist/
**/build/
**/.next/
**/.turbo/

# IDEs
.vscode/
.idea/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
